<ion-header [translucent]="true">
  <!-- <ion-toolbar class="bg-primary"> -->
  <ion-title class="bg-primary text-white p-4"> Reactive Form </ion-title>
  <!-- </ion-toolbar> -->
</ion-header>
<ion-content [fullscreen]="true">
  <form
    action=""
    class="m-3"
    (ngSubmit)="onSubmit()"
    [formGroup]="personalDetails"
  >
    <ion-input
      placeholder="First Name"
      class="form-control my-3"
      formControlName="fname"
    ></ion-input>
    <ion-input
      placeholder="Second Name"
      class="form-control my-3"
      formControlName="sname"
    ></ion-input>
    <ion-input
      placeholder="Age"
      class="form-control my-3"
      formControlName="age"
    ></ion-input>
    <ion-input
      placeholder="Email"
      class="form-control my-3"
      formControlName="email"
    ></ion-input>
    <ion-input
      placeholder="Password"
      class="form-control my-3"
      formControlName="password"
    ></ion-input>
    <ion-button type="submit">Submit</ion-button>
    <ion-button (click)="Show()">Show Data</ion-button>
  </form>
  <div *ngFor="let i of AllData">
    <h4>{{i.fname}} {{i.sname}} {{i.age}} {{i.email}} {{i.password}}</h4>
    <br />
  </div>
</ion-content>
